<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Help</h1>
    <h3 class="sub-header"> Website Contents:</h3>
    <div>

        
        -Search bar (top right)<br>
        -Directory (Left Column)<br>
        -<i>Home</i> and <i>Account List</i>  links show data tables of Servers<br>
        -<i>Server Graph</i>, <i>World Map</i>, and <i>All Product Status</i> are interactive data representations<br>
    
    
    </div>
    
</div>
