<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Current Servers</h1>
    <div class="table-responsive">
         <script src = "/chart/sorttable.js"></script>
        <table class="table table-striped sortable" id = "InfoTable">
            <thead>
                <tr>
                    <th>Server Name</th>
                </tr>
            </thead>
            <tbody>
                <% if (ProjName.length > 0) { %>
                    <% for(i = 0; i < (ProjName.length); i++){%>
                        <tr >
                            <td width = "35%"><a href = "/Program/<%=ProjName[i]%>"><%=ProjName[i]%></a></td>
                        </tr>
                        <%}%>
                    <%}%>
            </tbody>
        </table>
    </div>
</div>
