<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">Prime Information</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input id = "SearchBar" type="text" class="form-control" placeholder="Search...">
                <script src = "/chart/jquery-3.2.1.min.js"></script>
                <script>
                    $(document).ready(function(){
                        $("#SearchBar").keyup(function(){
                            var value = $(this).val().toLowerCase();
                            var table = document.getElementById("InfoTable");
                            var tr = table.getElementsByTagName("tr");
                            for(i = 1; i < tr.length; i++)
                            {
                                var td = tr[i].getElementsByTagName("td");
                                var contains = false;
                                for(x = 0; x< td.length; x++)
                                {
                                    var s = td[x].innerHTML;
                                    s = s.substring(s.indexOf(">")+1, s.lastIndexOf("<")).toLowerCase();
                                    if(s.includes(value))
                                        contains = true;
                                }
                                if(!contains)
                                    tr[i].style.display = "none";
                                if(contains)
                                    tr[i].style.display = "table-row";
                            }
                        });
                    });
                </script>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id = "home"><a href="/">Home</a></li>
                <li id = "overview"><a href="/Overview">Overview</a></li>
                <li id = "region"><a href="">Region</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="/chart/jquery-3.2.1.min.js"></script>
            <script>
                $(function () {
                    $('.navbar-toggle').click(function () {
                        $('.navbar-nav').toggleClass('slide-in');
                        $('.side-body').toggleClass('body-slide-in');
                        $('#search').removeClass('in').addClass('collapse').slideUp(200);

                    });
                });
                $(function() {
                    if(<%=current%>.innerHTML.includes("Home"))
                        {
                            document.getElementById("home").classList.add("active");
                        }
                    else if (<%=current%>.innerHTML.includes("Overview"))
                        {
                            document.getElementById("overview").classList.add("active");
                        }
                    else if (<%=current%>.innerHTML.includes("Region"))
                        {
                            document.getElementById("region").classList.add("active");
                        }
                });
            </script>