<!DOCTYPE html>
<html>
<head>
    
    <%include partials/template/head.ejs%>
</head>
    <body>
        <% include partials/template/header.ejs%>
        <% include partials/content/IndexInfo.ejs%>
    </body>
<script src = "/reload/reload.js"></script>
</html>